<!--
  ~  Copyright (c) 2022.
  ~  @created 15/10/2022 - 18:34:41
  ~  @project adonis-acl
  ~  @author "fiacre.ayedoun@gmail.com"
  ~  
  ~  For the full copyright and license information, please view the LICENSE
  ~  file that was distributed with this source code.
  ~
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>